/* variable */
:root {
    --primary-color: rgb(68, 224, 68);
    --secondary-color: #260f5c;
    --tertiary-color: rgb(236, 236, 41);
  }
body{
    font-family:  Helvetica, Arial, sans-serif;
}
/* section title styles */
.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-right: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 30px auto 35px auto;
    width: 50%;
   
}
/* header style start*/
/* sets header style and allows the background image to match with the hero*/
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-image.jpg"); 
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header img {
    /* height: auto; */
    width: 5vh;
    padding-left: 5px;
}
header nav {
    margin:7px 0;
}
/* aligns nav elements */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* makes nav elements stand out when hovered */
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  /* header style end */
  /* hero style start */
  /* set hero background and make it match with the header */
  .hero {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    height: 300px;
  }

  .hero h2 {
      color: var(--tertiary-color);
      font-style:italic;
    font-size: 55px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .about-me {
      display: flex;
      width: 100%;
      margin: 0 auto;
      justify-content: space-around;
  }
  .about-me .section-title {
      width: 25%;
      flex: 1;
  }
  .about-me p {
      padding: 30px;
      width: 75%;
      flex: 3;
  }
  .work {
      display: flex;
      height: auto;
      width: 100%;
      margin: 0 auto;
      justify-content: space-around;
      position: relative;
  }
  .work .section-title {
     flex: 1;
     width: 25%;
  }
  .project-cards {
      
      display: flex;
    padding: 30px;
      margin: 0 auto ;
      justify-content: space-between;
      width: 75%;
     flex: 3;
      flex-wrap: wrap;
     position: relative;
     height: 100%;
  }

    .large-card {
        background-image: url(../images/Run_buddy_screenshot.PNG);
        position: relative;
        background-size: cover;
        width: 100%;
        height: 60vh;
        border: 4px solid var(--secondary-color);
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
    }
     .large-card img {
        width: 100%;
        height: 100%;
        background-color: var(--background-opacity);
    } 
    .card-text {
        width: auto;
        color: var(--primary-color);
        position: absolute;
        bottom: 10px;
        left: 10px;
        background-color: var(--secondary-color);

    }
        
    
    .card {
        position: relative;
        width: 49.5%;
        height: 20vh;
        border: 4px solid var(--secondary-color);
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;
        background-size: cover;
    
    }
    .small-cards {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        justify-content: space-between;
    }
    .small-cards img {
        width: 100%;
        height: 100%;
    }
    #card-1 {
        background-image: url("../images/Card-placeholder-1.jpg");
    background-size: cover;
    
    }
    #card-2 {
        background-image: url("../images/Card-placeholder-2.jpg");

    }#card-3 {
        background-image: url("../images/Card-placeholder-3.jpg");
    }
    #card-4 {
        background-image: url("../images/Card-placeholder-4.jpg");
    }
    .contact-me {
        display: flex;
        height: auto;
        width: 100%;
        margin: 0 auto;
        justify-content: space-around;
        position: relative;
        flex-wrap: wrap;
    }
    .contact-me .section-title {
        flex: 1;
     width: 25%;
    }
    .contact-info {
        width: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
        margin: 0 auto;
     flex: 3;
    }
    .contact-type {
        color: var(--primary-color);
        border-bottom: solid var(--secondary-color);
        font-weight: bold;
    }
    .contact-type a {
        text-decoration: none;
        color: var(--primary-color);
    }
    